html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #116D44;
    background-position: center;
}

    header{
        align-items: center;
    }

    nav{
        font-family: 'Saira Condensed', sans-serif;
    }

    main .row{
        margin-left: 0;
    }

        .box{
            width: 100%;
            padding: 40px 60px;
            color: white;
            font-family: 'Saira Condensed', sans-serif;
            text-align: center;
        }  

            .box h1{
                font-family: 'Anton', sans-serif;
                font-size: 50px;
                text-shadow: 0px 0px 5px #000;
            }

            .box p{
                font-size: 25px;
                margin-top: 100px;
            }

        .sec1{
            height: 100vh;
            background-image: url(/img/adoptbg1.jpg);
            background-attachment: fixed;
            background-size: cover;
        }

            .sec1 h1{
                margin-top: 350px !important;
            }

        .sec2{
            background: #28689c;
        }

        .sec3{
            height: 100vh;
            background-image: url(/img/adoptbg2.jpg);
            background-attachment: fixed;
            background-size: cover;
        }

        .sec4{
            background: #c99d0d;
        }

        .set1{
            width: 20%;
            height: 200px !important;
            border: 2px solid #c99d0d;
        }

            .card-title{
                font-family: 'Anton', sans-serif;
                text-shadow: 0px 0px 10px #000;
            }

            .card-text{
                font-size: 15px !important;
                font-family: 'Saira Condensed', sans-serif;
                text-shadow: 0px 0px 10px #000;
            }

            .card-img{
                object-fit: cover;
                width: 150px;
                height: 150px;
            }

        .set2{
            width: 20%;
            height: 200px !important;
            border: 2px solid #2778b9;
        }